/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

#rangeContainer {
    padding: 16px 6px;
    box-sizing: border-box;
    max-width: 400px;
}

#range {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
